*,
*::before,
*::after {
  @apply font-medium m-0 box-border;
}
html {
  @apply h-full scroll-smooth;
}
body {
  @apply min-h-dvh h-full font-base text-base font-medium text-white-base
  rendering-legibility antialiased bg-black-soft;
}
#app {
  @apply flex flex-col w-full min-h-dvh;
}
.container {
  @apply pl-4 pr-4 mx-auto;
}
main {
  @apply flex-1;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
h1 { @apply text-2xl md:text-3xl; }
h2 { @apply text-2xl md:text-3xl leading-8 mb-7 md:mb-10; }
h3 {
  @apply text-lg sm:text-2xl;
}
h4 { @apply text-base md:text-xl; }
h5 { @apply text-base md:text-lg; }
h6 { @apply text-base; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
